@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.caption{
    font-size: 8px;
    line-height: 12px;
    font-weight: normal;
}
.body1{
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}
.body2{
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
}
.body3{
    font-size: 10px;
    line-height: 16px;
    font-weight: normal;
}
.headline{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}
.subtitle1{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
.subtitle2{
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}
.subtitle3{
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
}

.dropShadow1{
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.dropShadow2{
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
}
.innerShadow{
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}

.customCheckbox{
    appearance: none;
    cursor: pointer;
    background-color: #ffffff;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 1px solid #dc0a2d;
}

.customCheckbox:checked{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}